/*-- scss:defaults --*/

// Colors
//$dark-green: #858E79;
$dark-green: #2b3d2d;
$light-green: #D1D9CE;
$cream: #FDFBF7;
//$gray: #64605f;
$dark-gray: #36454F;
//$purple: #9158A2;
$purple: #5d3954;
$orange: #ad7237;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $dark-gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color